h2 {
    margin-bottom: 24px;
    text-align: center;
}

h2.cart {
    margin-top: 32px;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    justify-content: center;
}

.toolbar input[type="text"] {
    padding: 6px 8px;
    min-width: 400px;
}

.toolbar button {
    padding: 6px 12px;
    cursor: pointer;
}

button.secondary {
    background-color: rgb(217, 139, 13);
}

button.terciary {
    color: red;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 12px;
}

.error {
    color: red;
    margin-bottom: 8px;
    text-align: center;
}

table {
    background-color:whitesmoke;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    background-color: whitesmoke;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

.empty {
    text-align: center;
    margin-top: 8px;
    color: red;
}

.qty-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.qty {
    min-width: 24px;
    display: inline-block;
    text-align: center;
}

.cart-footer {
    width: 80%;
    margin: 12px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderSucess {
    text-align: center;
    color: green;
}